@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Coding_Events.ViewModels
@model AddEventControllerViewModel


<h1>Add a New Category</h1>
<form method="post" class="form-group" asp-action="ProcessCreateEventCategoryForm">
    <div>
        <label>Category Name:<br /><input asp-for="Name" class="form-control" /></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div><br />
    <input type="submit" value="Add Now!" class="btn btn-primary" />
</form>