
@{
}

@model List<EventCategory>


<h1>Here are your Categories</h1>

@if (Model.Count == 0)
{
    <p>No Categories yet!</p>
}
else
{
<table class="table">
    <tr>
        <th>ID</th>
        <th>Category</th>

    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
        </tr>
    }
</table>
}

<form action="/EventCategory/Create" class="form-group">
    <h6>
        <button class="btn btn-primary">Add New Category</button>
    </h6>
</form>
<form action="/EventCategory/Delete" class="form-group">
    <h6>
        <button class="btn btn-outline-danger">Delete Category</button>
    </h6>
</form>