
@using Coding_Events.ViewModels
@model AddEventViewModel
@{
}

<h1>Add a New Event</h1>
<form method="post" class="form-group" asp-action="Add">


    <div>
        <label>Event:<br /><input asp-for="Name" class="form-control" /></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div><br />

    <div>
        <label>Event Description:<input asp-for="Description" class="form-control" /></label>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div><br />
    <div>
        <label>Email:<input asp-for="ContactEmail" class="form-control" /></label>
        <span asp-validation-for="ContactEmail" class="text-danger"></span>
    </div><br />

    <input type="submit" value="Add Now!" class="btn btn-primary" />
</form>